*.ipynb linguist-documentation
*.sh linguist-detectable=false
*.pdb filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npy[[:space:]]*.pdb filter=lfs diff=lfs merge=lfs -text
