#Basic requirements
Cython
numpy
scipy
matplotlib==3.2.2

#Requirements for analyzing MD trajectories
biopython==1.76
MDAnalysis==0.20.1

#Other requirements
pymbar
tqdm

#Testing
pytest

#Docs
sphinxcontrib-napoleon
