# pypi
biopython==1.76
Cython
matplotlib==3.*
MDAnalysis==0.20.*
numpy
pillow
pymbar==3.*
pytest
scipy
sphinx
sphinx-rtd-theme
sphinxcontrib-napoleon
statsmodels
tqdm
pyyaml

# github
git+https://github.com/apallath/WHAM@master#egg=WHAM --global_option build_ext
