# pypi
biopython
Cython
matplotlib==3.*
MDAnalysis
numpy
pillow
pymbar==3.*
pytest
scipy
sphinx
sphinx-rtd-theme
sphinxcontrib-napoleon
statsmodels
tqdm
pyyaml

# github
# -e git+https://github.com/apallath/WHAM@master#egg=WHAM --global-option build_ext
